{% load static %}
<!-- Services Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h4 class="text-primary">Our Services</h4>
            <h1 class="display-4">Tailored Travel Services to Meet Your Every Need</h1>
        </div>
        <div class="row g-4 justify-content-center text-center">
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="{% static 'img/service-1.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-plane-departure fa-2x me-2"></i> Travel Assistance</a>
                            <p class="mb-4">Guiding you through every step of your journey, from visa applications to local advice, ensuring a seamless travel experience.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="{% static 'img/service-2.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-lock fa-2x me-2"></i> Secure Transportation</a>
                            <p class="mb-4">Offering safe and reliable transport solutions, whether for airport transfers or local travel, with a focus on comfort and security.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="{% static 'img/service-3.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-ticket-alt fa-2x me-2"></i> Flight Ticket Sales</a>
                            <p class="mb-4">Providing competitive prices on flight tickets to all destinations, with flexible options to suit your schedule and budget.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="{% static 'img/service-4.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-globe fa-2x me-2"></i> Tourism & Exploration</a>
                            <p class="mb-4">Creating unforgettable experiences through tailored tours, excursions, and adventures across the world's most beautiful locations.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.9s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="{% static 'img/service-5.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-ship fa-2x me-2"></i> Import/Export Services</a>
                            <p class="mb-4">Facilitating global trade by offering seamless import and export solutions that connect businesses with new markets.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-12">
                <a class="btn btn-primary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="#">Learn More</a>
            </div> -->
        </div>
    </div>
</div>
<!-- Services End -->

<!-- Continent Visited Start -->
<div class="container-fluid continent-visited py-5">
<div class="container">
    <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
        <h4 class="text-primary">Continents We Explore</h4>
        <h1 class="display-4">Discover the Wonders of Africa and Europe</h1>
    </div>
    <div class="project-carousel owl-carousel wow fadeInUp" data-wow-delay="0.1s">
        <div class="project-item h-100 wow fadeInUp" data-wow-delay="0.1s">
            <div class="project-img">
                <img src="{% static 'img/projects-1.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
            </div>
            <div class="project-content bg-light rounded p-4">
                <div class="project-content-inner">
                    <div class="project-icon mb-3"><i class="fas fa-globe-africa fa-4x text-primary"></i></div>
                    <p class="text-dark fs-5 mb-3">Explore Africa</p>
                    <p class="h4">Immerse Yourself in the Diverse Cultures and Stunning Landscapes of Africa</p>
                    
                </div>
            </div>
        </div>
        <div class="project-item h-100 wow fadeInUp" data-wow-delay="0.3s">
            <div class="project-img">
                <img src="{% static 'img/projects-2.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
            </div>
            <div class="project-content bg-light rounded p-4">
                <div class="project-content-inner">
                    <div class="project-icon mb-3"><i class="fas fa-globe-europe fa-4x text-primary"></i></div>
                    <p class="text-dark fs-5 mb-3">Explore Europe</p>
                    <p class="h4 cursor-default">Experience the Rich History and Vibrant Cultures of Europe</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Continent Visited End -->


    <!-- Countries Visited -->
    <div class="container-fluid blog pb-5">
        <div class="container pb-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                <h4 class="text-primary">Countries We Have Visited</h4>
                <h1 class="display-4">Discover the Beauty of Europe Through Our Travels</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-item bg-light rounded p-4" style="background-image: url('img/bg.png);">
                        <div class="mb-4">
                            <h4 class="text-primary mb-2">France</h4>
                        
                        </div>
                        <div class="project-img">
                            <img src="{% static 'img/blog-1.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
                            <div class="blog-plus-icon">
                                <a href="{% static 'img/blog-1.jpg' %}" data-lightbox="blog-1" class="btn btn-primary btn-md-square rounded-pill"><i class="fas fa-plus fa-1x"></i></a>
                            </div>
                        </div>
                        <div class="my-4">
                            <a href="#" class="h4">Experience the Charm of Paris and the French Riviera</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="blog-item bg-light rounded p-4" style="background-image: url(img/bg.png);">
                        <div class="mb-4">
                            <h4 class="text-primary mb-2">Italy</h4>
                            
                        </div>
                        <div class="project-img">
                            <img src="{% static 'img/blog-2.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
                            <div class="blog-plus-icon">
                                <a href="{% static 'img/blog-2.jpg' %}" data-lightbox="blog-2" class="btn btn-primary btn-md-square rounded-pill"><i class="fas fa-plus fa-1x"></i></a>
                            </div>
                        </div>
                        <div class="my-4">
                            <a href="#" class="h4">Explore the Rich History and Cuisine of Rome and Venice</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="blog-item bg-light rounded p-4" style="background-image: url(img/bg.png);">
                        <div class="mb-4">
                            <h4 class="text-primary mb-2">Spain</h4>
                            
                        </div>
                        <div class="project-img">
                            <img src="{% static 'img/blog-3.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
                            <div class="blog-plus-icon">
                                <a href="{% static 'img/blog-3.jpg' %}" data-lightbox="blog-3" class="btn btn-primary btn-md-square rounded-pill"><i class="fas fa-plus fa-1x"></i></a>
                            </div>
                        </div>
                        <div class="my-4">
                            <a href="#" class="h4">Discover the Vibrant Culture and Beautiful Landscapes of Barcelona and Madrid</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Countries Visited -->
