{% load static %}
<!-- Testimonial Start -->
<div class="container-fluid testimonial bg-light py-5">
    <div class="container py-5">
        <div class="row g-4 align-items-center">
            <div class="col-xl-4 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="h-100 rounded">
                    <h4 class="text-primary">Our Feedbacks</h4>
                    <h1 class="display-4 mb-4">Clients are Talking</h1>
                    <p class="mb-4">We are proud of the positive feedback we have received from our clients. Their satisfaction is our greatest reward, and we strive to continually exceed their expectations.</p>
                    
                </div>
            </div>
            <div class="col-xl-8">
                <div class="testimonial-carousel owl-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item bg-white rounded p-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="d-flex">
                            <div><i class="fas fa-quote-left fa-3x text-dark me-3"></i></div>
                            <p class="mt-4">"Working with SALR: Smiling Traveling Agency was a game-changer for our company. Their professionalism and attention to detail are unmatched. I highly recommend their services!"</p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="my-auto text-end">
                                <h5>Isabella Müller</h5>
                                <p class="mb-0">Marketing Director</p>
                            </div>
                            <div class="bg-white rounded-circle ms-3">
                                <img src="{% static 'img/testimonial-1.jpg' %}" class="rounded-circle p-2" style="width: 80px; height: 80px; border: 1px solid; border-color: var(--bs-primary);" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-white rounded p-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="d-flex">
                            <div><i class="fas fa-quote-left fa-3x text-dark me-3"></i></div>
                            <p class="mt-4">"I was thoroughly impressed with the travel arrangements made by SALR. Their expertise and customer service made my trip unforgettable. A top-notch experience!"</p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="my-auto text-end">
                                <h5>David Johnson</h5>
                                <p class="mb-0">Financial Analyst</p>
                            </div>
                            <div class="bg-white rounded-circle ms-3">
                                <img src="{% static 'img/testimonial-2.jpg' %}" class="rounded-circle p-2" style="width: 80px; height: 80px; border: 1px solid; border-color: var(--bs-primary);" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-white rounded p-4 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="d-flex">
                            <div><i class="fas fa-quote-left fa-3x text-dark me-3"></i></div>
                            <p class="mt-4">"SALR exceeded all my expectations with their excellent travel and consulting services. Their team is highly professional and attentive. I will definitely use their services again."</p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="my-auto text-end">
                                <h5>Emma Dupont</h5>
                                <p class="mb-0">Business Consultant</p>
                            </div>
                            <div class="bg-white rounded-circle ms-3">
                                <img src="{% static 'img/testimonial-3.jpg' %}" class="rounded-circle p-2" style="width: 80px; height: 80px; border: 1px solid; border-color: var(--bs-primary);" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->